.container {
    display: flex;
    /* flex-direction: column; */
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 20px;
    border: 1px solid pink;
}

.locationAndForm{
    width: 65%;
    border: 1px solid black;
}