.form{
    width: 100%;
    margin: 25px;
    font-size: 20px;
}

.submit{
    width: 80%;
    height: 45px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    border: 2px solid green;
}
.message {
    height:220px;
    width:80%;
    padding: 5px 0 0 15px;
    border-radius: 10px;
    border: 2px solid lightgray;
}

.fullName,
.email,
.phone{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid lightgray;
    padding: 3px 0 0 15px;
}