.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: 100%;
    max-height: 460px;
    min-height: 360px;
    width: 60%;
    border-radius: 30px;
    overflow: auto;
    border: 1px solid red;
 }

 .contentName {
    font-weight: 600;
        font-size: 40px;
        color: black;
    
 }

 .contentDesc{
    color: grey;
    font-weight: 400;
 }