.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 40%;

}
.profileName{
color: whitesmoke;
}
.profileDesc {
position: relative;
top: -30px;
font-size: 18px;
color: whitesmoke;
font-weight: 500;
}