.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 40%;
}
.profileName {
    color: rgb(245, 245, 245);
}
.profileDesc {
    position: relative;
    top: -30px;
    font-size: 18px;
    color: rgb(245, 245, 245);
    font-weight: 500;
}