.skillsIcons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

}

.js,
.react,
.php,
.postman {
    margin: 15px;
    height: 75px;
    width: 75px;
}

.git{
    height: 90px;
    margin: 15px;
    margin-top:2px;

}
.node {
    height: 90px;
    margin: 15px 0px 15px 35px;
}

.mongo{
    height: 90px;
    margin: 15px 10px 15px 20px;
}

.java{
    height: 90px;
    margin: 10px 0;
}
